$for(blogs)$

<div class="blog-post">
  <h2 class="blog-post-title"><a href="$url$">$title$</a></h2>
  <p class="blog-post-meta">$date$ in $category$ - <a href="$url$#disqus_thread"><i class="fa fa-comment"></i>comments</a></p>
$if(teaser)$
$teaser$
$else$
$body$
$endif$
                        
$if(teaser)$
      <p class="lead"><a href="$url$" class="btn btn-default">Read More</a></p>
$endif$
 
</div>
$endfor$

<!-- Pagination -->
<nav>
  <ul class="pager">
  $if(previousPageUrl)$
    <li class="previous">
      <a href="$previousPageUrl$">Previous</a>
    </li>
  $else$
     <li class="previous disabled">
      <a href="#">Previous</a>
    </li>
  $endif$
  $if(nextPageUrl)$
     <li class="next">
      <a href="$nextPageUrl$">Next</a>
    </li>
  $else$
      <li class="next disabled">
      <a href="#">Next</a>
    </li>
  $endif$
  </ul>
</nav>

<!-- disqus comment count script -->
<script type="text/javascript">
  if(window.localStorage.getItem("cookies-accepted")){
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'haskellita'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  }
</script>
